/.idea/*
!/.idea/.idea.*
/.idea/.idea.*/*
!/.idea/.idea.*/.idea
/.idea/.idea.*/.idea/*
!/.idea/.idea.*/.idea/runConfigurations
/Avatars
Avatars
/Avatars/
bin/
obj/
*.suo
*.user
*.userosscache
*.sln.docstates
.idea/
*.sln.iml
*.conf
